<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
      <link rel="stylesheet" href="/css/allcss.css">
</head>
<body>
  <h2>Title</h2>
  <div class="exhibit"><%= article.title %></div >
  <h2>Description</h2>
  <div class="exhibit"><%= article.description %></div >
  <h2>Markdown</h2>
  <div class="exhibit"><%= article.markdown %></div>
  <div class="sign"><%= article.author %></div>
  <a href="/all">主页</a>
</body>
</html>